# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript cache
*.tsbuildinfo

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log

# Firebase cache
.firebase/

# Environment files
.env
.env.local
.runtimeconfig.json

